
body {
    background-color: lightgray;
    display: block;
}
p{
    display: block;
    text-align: center;
    margin-top: 20%;
}
input{
    display: inline-block;
    width: 300px;
    height: 30px;
    border: none;
}
#fonts {
    display: inline-block;
    justify-content: flex-start;
    width: 300px;
    height: 35px;
    border: none;
}
#favcolor {
    display: inline-block;
    width: 300px;
    height: 35px;
    border: none;
} 
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px ;
    cursor: pointer;
    
}
input:focus {
    outline:2px solid rgb(0, 140, 255);
}
#fonts:focus {
    outline:2px solid rgb(0, 140, 255);


}
